.sc-ion-searchbar-md-h {
  --box-shadow: none !important;
  padding: 0px !important;
  border-bottom: 1px solid grey !important;
}

::-webkit-scrollbar {
  display: none;
}

ion-img {
  width: 12%;
  margin-left: 4px;
}

ion-title {
  color: #fff;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

ion-select,
ion-searchbar {
  /* Applies to the value and placeholder color */
  color: #000000;

  /* Set a different placeholder color */
  --placeholder-color: #585454bb;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  justify-content: center;
}

.location {
  margin: 10px 0;
  width: 100%;
}

.filter {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

ion-chip {
  flex: 0 0 auto;
  margin-left: 0px !important;
}

.event {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.image-event {
  width: 42%;
  height: auto;
}

.info-event {
  width: 55%;
  margin-left: 3%;
}

.info-event > div {
  margin: 0 0 2% 3%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.fecha {
  font-weight: bold;
  color: #e76c2e;
  font-size: 0.7em;
  font-family: "Poppins", sans-serif;
}

.titulo {
  font-weight: bold;
  font-size: 1em;
  color: #6b6b6b;
  font-family: "Poppins", sans-serif;
}

.descripcion {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
}

.img-elem {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 5%;
  margin: 0px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
}

.event > .info-event {
  align-self: flex-start;
  margin-top: 8px;
}

.slider {
  width: 100%;
  position: -webkit-sticky; // required for Safari
  position: sticky;
  top: 0; // required as well.
  z-index: 10;
}

.sliderPrimero,
.sliderHijo,
.banner,
.imgSlider {
  width: 100%;
}

* {
  z-index: 0;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  height: 35vh;
  width: auto;
}

.text_empty {
  color: #d6d2d1;
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.icon_empty {
  font-size: 5em;
  color: #d6d2d1;
}

//filtro
.filter_place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: -30px auto 10px auto;
  position: relative;
  z-index: 50;
  width: 90%;
  background-color: var(--ion-color-light);
  padding: 16px;
  border-radius: 60px;
}

ion-label {
  font-weight: bold;
  font-family: "Poppins";
  color: rgb(161, 161, 161);
  font-size: 0.8em;
}

.form_filter {
  display: flex;
  flex-direction: column;
  margin: 0 5% 5px 5%;
  z-index: 100;
  background-color: var(--ion-color-back);
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px -1px rgba(161, 141, 141, 0.75);
}

.filter_name {
  padding: 15px 0 15px 15px;
  font-weight: bold;
  width: 100%;
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.filter_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #ddd;
  width: 100%;
  height: 35px;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  color: rgba(116, 108, 108, 0.75);
}

.filter_type {
  border-top: 2px solid #ddd;
  width: 100%;
}

.icon_arrow {
  float: right;
  margin-right: 15px;
}

.type_border > .last:last-child {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.list_type {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.open_acordeon {
  color: #fc67ff
}

ion-radio {
  --color-checked: #fc67ff;
}

.list-md {
  padding: 0 !important;
}

ion-datatime {
   --ion-color: #fc67ff
 }