::-webkit-scrollbar {
  display: none;
}

ion-icon {
  font-size: 1.5rem;
  margin-left: 8%;
  color: var(--ion-color-back);
}

ion-title {
  color: var(--ion-color-back);
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  justify-content: center;
}

.location {
  margin: 10px 0;
  width: 100%;
}

.filter {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.event {
  display: flex;
  flex-direction: row;
}

.image-event {
  width: 42%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
}

.info-event {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-event > div {
  width: 100%;
  margin: 0 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.fecha {
  font-weight: bold;
  color: var(--ion-color-favorite);
  font-size: 0.7em;
  font-family: "Poppins", sans-serif;
}

.titulo {
  font-weight: bold;
  font-size: 1em;
  color: #6b6b6b;
  font-family: "Poppins", sans-serif;
}

.descripcion {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
}


.event > .info-event {
  align-self: flex-start;
}

.link {
  z-index: 1500;
}

.icon-link {
  margin: 0 !important;
}

.slider {
  width: 100%;
}

.sliderPrimero,
.sliderHijo,
.banner,
.imgSlider {
  width: 100%;
}

.sliderPrimero {
  background-color: #eeeeee;
}

* {
  z-index: 0;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  height: 35vh;
  width: auto;
}

.text_empty {
  color: #d6d2d1;
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.icon_empty {
  font-size: 5em;
  color: #d6d2d1;
}

//filtro
.filter_place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: -30px auto 10px auto;
  position: relative;
  z-index: 50;
  width: 90%;
  background-color: var(--ion-color-light);
  padding: 16px;
  border-radius: 60px;
}

ion-label {
  font-weight: bold;
  font-family: "Poppins";
  color: rgb(161, 161, 161);
  font-size: 0.8em;
}

.form_filter {
  display: flex;
  flex-direction: column;
  margin: 0 5% 5px 5%;
  z-index: 100;
  background-color: var(--ion-color-back);
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px -1px rgba(161, 141, 141, 0.75);
}

.filter_name {
  padding: 15px 0 15px 15px;
  font-weight: bold;
  width: 100%;
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.filter_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #ddd;
  width: 100%;
  height: 35px;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  color: var(--ion-color-dark);
}

.filter_type {
  width: 100%;
}

.type_border > .last:last-child {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.list_type {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  min-height: 30px;
  max-height: 200px;
  overflow-y: scroll;
}

.open_acordeon {
  color: #fc67ff;
}

.date_filter {
  font-size: 0.6rem;
}

ion-radio {
  --color-checked: #fc67ff;
}

.list-md {
  padding: 0 !important;
}

ion-datetime {
  --placeholder-color: var(--ion-color-dark);
}