<ion-header>
  <ion-toolbar color="information">
    <ion-buttons slot="start">
      <ion-back-button
        (click)="irHome()"
        color="back"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="back">Casa Dominga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    *ngIf="dominga.length > 0"
    scrollbar="false"
    pager="false"
    [options]="slideOpts"
  >
    <ion-slide *ngFor="let item of dominga">
      <ion-avatar>
        <app-preload-details
          #foto
          [url]="item.url"
          [alt]="item.titulo"
          [urlPreload]="preloadImage"
          [clase]="preloadClass"
        ></app-preload-details>
      </ion-avatar>
      <div class="info_dominga">
        <ion-text class="titulo_dominga"> {{ item.titulo }} </ion-text>
        <ion-text class="info_detalle_dominga"> {{ item.info }} </ion-text>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-list *ngIf="dominga.length === 0">
    <ion-slides class="slides_skeleton">
      <ion-slide class="slide_skeleton" *ngFor="let item of [1]">
        <div class="img_skeleton">
          <ion-img src="/assets/img/img-skeleton_1.70.svg"></ion-img>
        </div>
        <ion-skeleton-text
          animated
          style="width: 30%; height: 20px; margin: 2vh 3%"
        ></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-slide>
    </ion-slides>
  </ion-list>
</ion-content>
