@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.sc-ion-searchbar-md-h {
  --box-shadow: none !important;
  padding: 0px !important;
}

ion-avatar,
ion-avatar > img {
  border-radius: 15% !important;
  height: auto;
  width: 100%;
}

ion-avatar {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
  margin-left: 4px;
}

ion-item {
  margin-top: 4%;
}

ion-img {
  width: 12%;
  margin-left: 8%;
}

ion-title {
  color: #fff;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: 600;
  color: #6b6b6b;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: 300;
  color: var(--ion-color-dark);
  font-size: 80%;
  font-family: "Poppins", sans-serif;
}

span,
p {
  font-weight: 300;
  color: var(--ion-color-dark);
  font-size: 90%;
  font-family: "Poppins", sans-serif;
}

.padre {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  margin: 3% 0 3% 0;
}

.imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

#filters {
  color: var(--ion-color-dark);
}

small {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}

.contact {
  padding: 3px 6px 0 0;
}

.info {
  width: 68%;
  margin-left: 5%;
  padding: 3% 2% 2% 5%;
}

.img-elem {
  width: 100%;
  border-radius: 15%;
  margin: 0px;
}

.slider {
  width: 100%;
  position: -webkit-sticky; // required for Safari
  position: sticky;
  top: 0; // required as well.
  z-index: 1;
}

.sliderPrimero,
.sliderHijo,
.imgSlider {
  width: 100%;
}

#eat-info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

* {
  z-index: 0;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  height: 35vh;
  width: auto;
}

.text_empty {
  color: #d6d2d1;
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.icon_empty {
  font-size: 5em;
  color: #d6d2d1;
}

// filtro
.filter_place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: -30px auto 10px auto;
  position: relative;
  z-index: 50;
  width: 90%;
  background-color: var(--ion-color-light);
  padding: 16px;
  border-radius: 60px;
}

ion-label {
  font-weight: bold;
  font-family: "Poppins";
  color: rgb(161, 161, 161);
  font-size: 0.8em;
}

.form_filter {
  display: flex;
  flex-direction: column;
  margin: 0 5% 5px 5%;
  z-index: 100;
  background-color: var(--ion-color-back);
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px -1px rgba(161, 141, 141, 0.75);
}

.filter_name {
  padding: 15px 0 15px 15px;
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.filter_name > span {
  font-weight: 700;
}

.filter_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #ddd;
  width: 100%;
  height: 35px;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  color: rgba(116, 108, 108, 0.75);
  margin: 0 !important;
}

.filter_type {
  border-top: 2px solid #ddd;
  width: 100%;
}

.icon_arrow {
  float: right;
  margin-right: 15px;
}

.location_border > .last:last-child {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.list_location {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.open_filter {
  color: #fc67ff !important;
}

ion-radio {
  --color-checked: #fc67ff;
}

.list-md {
  padding: 0 !important;
}
