@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

ion-title {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.padre {
  width: 100%;
  height: auto;
  padding: 3% 3% 0 3%;
}

.foto > img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.fecha-hora {
  display: flex;
  justify-content: space-between;
}

.ubicacion {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 6px;
  padding: 15px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
  color: #000;
  background-color: var(--ion-color-light);
}

.div-ubicacion,
.div-fecha,
.div-hora {
  padding-bottom: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--ion-color-dark);
}

.div-ubicacion {
  text-decoration: underline;
  color: var(--ion-color-dark);
  font-family: "Poppins", sans-serif;
}

.fecha,
.hora {
  width: 49%;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
  color: var(--ion-color-dark);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--ion-color-light);
}

::-webkit-scrollbar {
  display: none;
}

.mark-info {
  margin-right: 15px !important;
  color: var(--ion-color-dark);
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

.dir,
.fecha-hora_div {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  color: var(--ion-color-dark);
}

.descripcion {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-top: 5px;
  background-color: var(--ion-color-light);
  border-radius: 5px;
  padding: 7px 15px;
  font-family: Barlow;
  font-size: 12px;
  line-height: 17px;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 50;
}

.ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--ion-color-text);
  border-top: 10px solid var(--ion-color-back);
}

.entradas {
  width: 35%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.precio {
  width: 63%;
  margin: 4px;
  background-color: var(--ion-color-options);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entradas_div {
  font-size: 0.6em;
  margin-top: 2px;
  font-family: "Poppins", sans-serif;
  color: var(--ion-color-dark);
}

.precios_div {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: var(--ion-color-dark);
}

.puntos-venta {
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: underline;
}

// Cuenta regresiva

.event_start {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 20px;
  font-size: 1.3em;
  color: var(--ion-color-back);
  background-color: var(--ion-color-party);
  border-radius: 5px;
}

section {
  margin: 6px 0 8px 0;
}

.time-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 23%;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.count-bg-one {
  background: var(--ion-color-party);
  font-size: 0.5em;
  font-weight: 400;
  color: white;
}

.count-bg-two {
  background: var(--ion-color-information);
  font-size: 0.5em;
  font-weight: 400;
  color: white;
}

.count-bg-three {
  background: var(--ion-color-favorite);
  font-size: 0.5em;
  font-weight: 400;
  color: white;
}

.count-bg-four {
  background: var(--ion-color-circuits);
  font-size: 0.5em;
  font-weight: 400;
  color: white;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
}

.raduis {
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 325px) {
  .time-list {
    font-size: 15px;
  }
}
