.icon-tab {
  font-size: 2em;
}

ion-tab-bar {
  contain: none;
  --border: none;
}

.moreOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-label {
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
}

// ion-tab-bar ion-tab-button:nth-child(3) {
//   border-radius: 50%;
//   margin-top: -40px;
//   // box-shadow: -1px 1px 3px 1px rgba(199, 196, 196, 0.58);
//   // -webkit-box-shadow: -1px 1px 3px 1px rgba(199, 196, 196, 0.58);
//   // -moz-box-shadow: -1px 1px 3px 1px rgba(199, 196, 196, 0.58);
// }

.main-option {
  font-size: 20px;
}

ion-tab-bar {
  --color-selected: var(--ion-color-options);
}

