<ion-header>
  <ion-toolbar color="information">
    <ion-buttons slot="start">
            <ion-back-button color="back" (click)="regresar()"></ion-back-button>
    </ion-buttons>

    <ion-title color="back">Ir a {{ nombre }}</ion-title>

    <ion-label slot="end" color="back">      
      <ion-icon color="back" name="{{icon}}"></ion-icon> 
      {{distancia | formatDistancia}}       
    </ion-label>
    
    
  </ion-toolbar>
</ion-header>

<ion-content> 

    <div id="contenedor">
      
      <div id="mapaIndicador"></div>

    </div>
</ion-content>

