<ion-content>
  <div class="container">
    <div class="slider_filter">
      <div class="slider_filter-title">
        <h1 id="home-menu">Hola, soy domin<span>go!</span></h1>
        <p id="home-menu">
          y a partir de ahora seré tu guía. ¿Descubrimos juntos un nuevo sitio?
        </p>
      </div>
      <div class="filter_button">
        <ion-label
          (click)="seeDepto()"
          *ngIf="deptoSave !== null"
          class="depto_selected"
          >{{ deptoSave }}</ion-label
        >
        <ion-label (click)="seeDepto()" *ngIf="deptoSave === null"
          >departamento</ion-label
        >
        <img *ngIf="gps" src="/assets/icon/exchange.png" alt="" />
        <ion-label
          class="distance_selected"
          (click)="seeDistance()"
          *ngIf="distanceSave !== null && gps"
          >{{ distanceSave }}</ion-label
        >
        <ion-label
          (click)="seeDistance()"
          *ngIf="distanceSave === null && gps"
          >distancia</ion-label
        >
      </div>

      <ion-list *ngIf="depto" class="depto_list">
        <ion-radio-group value="{{ deptoSelected }}">
          <ion-item
            lines="none"
            *ngFor="let depto of deptosActivos"
            (click)="select(depto.nombre, null)"
          >
            <ion-text id="depto_list" *ngIf="deptoSelected !== depto.nombre"
              >{{ depto.nombre }}</ion-text
            >
            <ion-text
              id="depto_list"
              class="depto_bold"
              *ngIf="deptoSelected === depto.nombre"
              >{{ depto.nombre }}</ion-text
            >
            <ion-radio
              mode="ios"
              slot="end"
              value="{{ depto.nombre }}"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
        <div class="endline">_</div>
      </ion-list>
      <ion-list *ngIf="distance" class="depto_list">
        <ion-radio-group value="{{ distanceSelected }}" *ngIf="gps">
          <ion-item
            lines="none"
            *ngFor="let dis of optionDsitance"
            (click)="select(null, dis)"
          >
            <ion-text id="home-menu" *ngIf="distanceSelected !== dis"
              >{{ dis }} km</ion-text
            >
            <ion-text
              id="home-menu"
              class="depto_bold"
              *ngIf="distanceSelected === dis"
              >{{ dis }} km</ion-text
            >
            <ion-radio mode="ios" slot="end" value="{{ dis }}"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <div class="endline">_</div>
      </ion-list>
    </div>

    <div class="menu" *ngIf="deptoSelected != null || distanceSelected != null">
      <div class="div__menu">
        <div id="home-menu" class="div__menu-izq" routerLink="/tabs/place">
          ¿dónde ir?
        </div>
        <div id="home-menu" class="div__menu-izq" routerLink="/tabs/eat">
          ¿dónde<br />
          comer?
        </div>
        <div id="home-menu" class="div__menu-izq" routerLink="/tabs/artist">
          artistas
        </div>
      </div>
      <div id="home-menu" class="div__menu">
        <div id="home-menu" class="div__menu-der" routerLink="/tabs/events">
          ¿qué hacer?
        </div>
        <div id="home-menu" class="div__menu-der" routerLink="/tabs/sleep">
          ¿dónde <br />
          dormir?
        </div>
        <div id="home-menu" class="div__menu-der" routerLink="/dominga">
          Casa <br />
         Dominga
        </div>
      </div>
    </div>
    <div class="menu" *ngIf="deptoSelected == null && distanceSelected == null">
      <div class="div__menu">
        <div
          class="div__menu-izq"
          id="filter_null_izq"
          (click)="presentAlert(); presentAlertDepto()"
        >
          ¿dónde ir?
        </div>
        <div
          class="div__menu-izq"
          id="filter_null_izq"
          (click)="presentAlert(); presentAlertDepto()"
        >
          ¿dónde<br />
          comer?
        </div>
        <div
          class="div__menu-izq"
          id="filter_null_izq"
          (click)="presentAlert(); presentAlertDepto()"
        >
          artistas
        </div>
      </div>
      <div class="div__menu">
        <div
          class="div__menu-der"
          id="filter_null_der"
          (click)="presentAlert(); presentAlertDepto()"
        >
          ¿qué hacer?
        </div>
        <div
          class="div__menu-der"
          id="filter_null_der"
          (click)="presentAlert(); presentAlertDepto()"
        >
          ¿dónde<br />
          dormir?
        </div>
        <div
          class="div__menu-der"
          id="filter_null_der"
          (click)="presentAlert(); presentAlertDepto()"
        >
          Casa<br />
          Dominga
        </div>
      </div>
    </div>
  </div>
</ion-content>
