@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.closeMenu {
    margin-right: 8px;
    font-size: 1.1em;
}

i {
    padding: 0 10px 0 0;
    font-size: 1.3em;
    color: var(--ion-color-back);
}

h3 {
    font-weight: 700;
    font-size: 1.2em;
}

.fontOption {
    font-family: 'Poppins', sans-serif;
}