<ion-content>
  <div class="selling-points-title">
    <p class="selling_points_event title_selling">Puntos de venta</p>
    <ion-icon name="close-outline" (click)="cancelar()"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img
          *ngIf="tickAntel !== null && tickAntel !== undefined"
          src="/assets/selling-point/ticket-color.png"
          (click)="openTickAntel()"
        ></ion-img>
        <ion-img
          *ngIf="tickAntel === null || tickAntel === undefined"
          src="/assets/selling-point/ticket-byn.png"
        >
        </ion-img>
        <ion-text>
          <p class="selling_points_event">Tickantel</p>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-img
          *ngIf="whatsapp !== null && whatsapp !== undefined"
          src="/assets/selling-point/wpp-color.png"
          (click)="openWhatsapp()"
        ></ion-img>
        <ion-img
          *ngIf="whatsapp === null || whatsapp === undefined"
          src="/assets/selling-point/wpp-byn.png"
        ></ion-img>
        <ion-text>
          <p class="selling_points_event">WhatsApp</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-img
          *ngIf="instagram !== null && instagram !== undefined"
          src="/assets/selling-point/ig.png"
          (click)="openInstagram()"
        ></ion-img>
        <ion-img
          *ngIf="instagram === null || instagram === undefined"
          src="/assets/selling-point/ig-byn.png"
        ></ion-img>
        <ion-text>
          <p class="selling_points_event">Instagram</p>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-img
          *ngIf="facebook !== null && facebook !== undefined"
          src="/assets/selling-point/fb.svg"
          (click)="openFacebook()"
        ></ion-img>
        <ion-img
          *ngIf="facebook === null || facebook === undefined"
          src="/assets/selling-point/fb-byn.png"
        ></ion-img>
        <ion-text>
          <p class="selling_points_event">Facebook</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
