<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="slider">
      <ion-slides
        class="sliderPrimero setHeight"
        scrollbar="false"
        pager="false"
        [options]="slideOpts"
      >
        <ion-slide *ngFor="let item of sliderSleep" class="sliderHijo">
          <a
            *ngIf="item.link !== null && item.link !== '' && item.link !== ' ' && item.link !== undefined"
            href="{{ item.link }}"
            class="link"
          >
            <ion-fab vertical="top" horizontal="start" slot="fixed">
              <ion-fab-button color="dark">
                <ion-icon
                  *ngIf="item.linkTipo !== 'web'"
                  name="logo-{{ item.linkTipo }}"
                  class="icon-link"
                ></ion-icon>
                <ion-icon
                  *ngIf="item.linkTipo === 'web'"
                  name="globe-outline"
                  class="icon-link"
                ></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </a>
          <app-preload
            [url]="item.imagen.url"
            [alt]="item.imagen.name"
            [urlPreload]="preloadImage"
          ></app-preload>
        </ion-slide>
      </ion-slides>

      <!-- filtro -->
      <div
        *ngIf="!selectdistancia && (optionLocation === null || optionLocation === 'localidad' || optionLocation === '')"
        class="filter_place"
      >
        <ion-label (click)="changeFilterSleep()">localidad</ion-label>
      </div>
      <div
        *ngIf="!selectdistancia && (optionLocation !== null && optionLocation !== 'localidad' && optionLocation !== '')"
        class="filter_place"
      >
        <ion-label
          (click)="changeFilterSleep()"
          id="filters"
          class="open_filter"
          >{{ optionLocation }}</ion-label
        >
      </div>

      <div>
        <form [formGroup]="filterForm" class="form_filter">
          <!-- Filtro por Localidad  -->
          <div *ngIf="isFilterLocation">
            <div class="filter_name">
              <span id="filters">Localidad</span>
            </div>
            <div>
              <ion-list class="list_location" inset="true">
                <ion-radio-group
                  (ionChange)="filterSleep()"
                  formControlName="localidad"
                  class="location_border"
                >
                  <ion-item class="filter_list" lines="none">
                    <ion-text id="filters">Todo</ion-text>
                    <ion-radio slot="end" value=""></ion-radio>
                  </ion-item>
                  <ion-item
                    class="filter_list last"
                    lines="none"
                    *ngFor="let loc of localidades"
                  >
                    <ion-text id="filters">{{ loc }}</ion-text>
                    <ion-radio slot="end" value="{{ loc }}"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </div>
          <!-- filtro por Localidad -->
        </form>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list class="lista">
      <ng-container *ngFor="let item of sleep | filtroDondeComer:dataForm">
        <ion-item
          *ngIf="(item.distanciaNumber <= dist || (dep !== null && !this.sleepSvc.noData && item.departamento === dep))"
        >
          <div class="padre">
            <div class="imagen">
              <ion-avatar item-start>
                <app-preload-list
                  [url]="item.imagen.url"
                  [alt]="item.nombre"
                  [clase]="preloadClase"
                  [urlPreload]="preloadImage_list"
                ></app-preload-list>
              </ion-avatar>
              <small id="eat-info">{{item.distancia | formatDistancia}}</small>
            </div>
            <div class="info">
              <ion-label>
                <h2 id="eat-info">{{ item.nombre }}</h2>
                <div class="infoAbajo">
                  <h3 id="eat-info">{{ item.direccion }}</h3>
                  <p id="eat-info" *ngFor="let tel of item.telefonos">
                    <span
                      id="eat-info"
                      *ngIf="tel.numero !== null && tel.numero !== undefined && tel.numero !== '' && tel.numero !== ' '"
                      >Tel: </span
                    >{{ tel.numero }}
                  </p>
                </div>
                <ion-icon
                  class="contact"
                  *ngIf="item.instagram !== null"
                  name="logo-instagram"
                  (click)="openInstagram(item.instagram)"
                ></ion-icon>
                <ion-icon
                  class="contact"
                  *ngIf="item.whatsapp !== null"
                  name="logo-whatsapp"
                  (click)="openWhatsapp(item.whatsapp)"
                ></ion-icon>
              </ion-label>
            </div>
          </div>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngIf="sleep.length === 0 && !this.sleepSvc.noData">
      <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <div *ngIf="this.sleepSvc.noData && dist === null" class="empty">
      <i class="fi fi-rr-sad icon_empty"></i>
      <div class="text_empty">No existen lugares en {{ dep }}</div>
    </div>

    <div *ngIf="!this.sleepSvc.controlDistance && dist !== null" class="empty">
      <i class="fi fi-rr-sad icon_empty"></i>
      <div class="text_empty">
        No existen lugares en el rango de {{ dist }} km
      </div>
    </div>
  </div>
</ion-content>
