<ion-header>
  <ion-toolbar color="options">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="places/{{place.id}}"
        color="back"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="back"> {{ place.nombre }} </ion-title>
  </ion-toolbar>
  <!-- Botones de reproduccion Text To Speech -->
  <app-text-to-speech [texto]="descripcionText"></app-text-to-speech> 
</ion-header>
<ion-content>
  <ion-text>
    <br>
    <div #descripcion class="texto" [innerHTML]="place.descripcion"></div>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col id="web">
        <div class="ion-text-center">
          <div class="circulo_red">
            <div (click)="openWeb()">
              <ion-icon name="globe-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col id="facebook">
        <div class="ion-text-center">
          <div class="circulo_red">
            <div (click)="openFacebook()">
              <ion-icon class="icon-fb" name="logo-facebook"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col id="instagram">
        <div class="ion-text-center">
          <div class="circulo_red">
            <a href="{{ place.instagram }}"
              ><ion-icon name="logo-instagram"></ion-icon
            ></a>
          </div>
        </div>
      </ion-col>
      <ion-col id="whatsapp">
        <div class="ion-text-center">
          <div class="circulo_red_wpp">
            <a href="{{ place.whatsapp }}"
              ><ion-icon name="logo-whatsapp"></ion-icon
            ></a>
          </div>
        </div>
      </ion-col>
      <ion-col id="phone">
        <div class="ion-text-center">
          <div class="circulo_red" (click)="callPhone()">
            <ion-icon name="call-outline"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
